# Nightscout Configuration
NIGHTSCOUT_URL=https://ns....com

# hashed API secret for axios version
# clear text API secret for cgmsim-lib version
APISECRET=51f93cxxxxxx014527506

# debug, info, warn, error
LOG_LEVEL=info


